body {
  padding: 10px;
  font-family: sans-serif;
}
/*.bg{
	background-image: url(../public/frederic-paulussen-NQiAT4D0qEM-unsplash.jpg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: static;

  height: 100%;
  width: 100%;
}*/

.food{
	width: 350px;
	height: 400px;
}

.uniform{
	height:335px;
	width: 410px;
	overflow: hidden;
}

.icolor{
	color:red;
	font-size: 2em;
}
.ecolor{
	color:blue;
	font-size: 2em;
}

.imgholder{
	margin-bottom: 10px;
	height: 200px;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor: pointer;
}
.eholder{
	margin-bottom: 10px;
	height:250px;
}
#login-buttons a{
text-decoration: none;
}