body {
  padding: 10px;
  font-family: sans-serif;
}
.bg{
	background-image: url(https://images.unsplash.com/photo-1544436820-d96a51aafbc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: contain;
}

.txt{
	color: #FFFFFF;
}

.mybkcol{
background: #ffffff44; /*rgba*/

}

.food{
	width: 100%;
	height: 100%;
	transition: .3s linear;
	cursor: pointer;
}


.food:hover{
	transform: scale(1.1);
}

.uniform{
	height:335px;
	overflow: hidden;
}

.icolor{
	color:red;
	font-size: 2em;
}
.ecolor{
	color:blue;
	font-size: 2em;
}

.imgholder{
	margin-bottom: 10px;
	height: 200px;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor: pointer;
}
.eholder{
	margin-bottom: 10px;
	height:250px;
}
#login-dropdown-list{
	list-style: none;
}

.rating > label{
		cursor: pointer;
}