body {
  padding: 10px;
  font-family: sans-serif;
}

.food{
	width:100%;
	height: 100%;
}

.uniform{
	height:335px;
	overflow: hidden;
}

.icolor{
	color:red;
	font-size: 2em;
}
.ecolor{
	color:blue;
	font-size: 2em;
}

.imgholder{
	margin-bottom: 10px;
	height: 200px;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor: pointer;
}
.eholder{
	margin-bottom: 10px;
	height:250px;
}
#login-buttons a{
text-decoration: none;
}